@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Azure App service FAQ</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<body>
    <iframe src='https://webchat.botframework.com/embed/Bot-service-apollo?s=qx3-M9m7JmE.Fzq1tlk8rDdhKKxbVZn99nS8guYCxsEB9MpLMVWGgEk'  style='min-width: 400px; width: 100%; min-height: 500px;'></iframe>
</body>