@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!DOCTYPE html>
<head>
    <script src="https://cdn.botframework.com/botframework-webchat/latest/webchat.js"></script>
</head>
<body>
    <P><B>************************************ Welcome to Azure Webapps FAQ *********************************</B></P>
    <div style="height: 80%; width: 60%; margin-top:5%; margin-left:10%" id="webchat" role="main"></div>

    <script>

        // Set  the CSS rules.
        const styleSet = window.WebChat.createStyleSet({
            bubbleBackground: 'rgba(0, 0, 255, .1)',
            bubbleFromUserBackground: 'rgba(0, 255, 0, .1)',
            rootHeight: '100%',
            rootWidth: '100%',
            backgroundColor: 'paleturquoise'
        });

        // After generated, you can modify the CSS rules.
        // Change font family and weight.
        styleSet.textContent = {
            ...styleSet.textContent,
            fontFamily: "'Comic Sans MS', 'Arial', sans-serif",
            fontWeight: 'bold'
        };

        // Set the avatar options.
        const avatarOptions = {
            botAvatarInitials: 'BF',
            userAvatarInitials: 'WC'
        };

        window.WebChat.renderWebChat({
            directLine: window.WebChat.createDirectLine({
                secret: 'XzOYYeCqF6E.I9OpOWgDkOeUcRHqDhk9pmpgWTsDwhYI1EnNjsinBiI'
            }),
            styleSet,
            styleOptions: avatarOptions
        }, document.getElementById('webchat'));

    </script>
</body>